$width: 1500px;
$breakpoints: (
    "sp": "screen and (max-width: 480px)",
    "sm-tab": "screen and (max-width: 820px)",
    "su-tab": "screen and (max-width: 1000px)",
    "bg-tab": "screen and (max-width: 1200px)",
    "pre-sm-pc": "screen and (max-width: 1265px)",
    "sm-pc": "screen and (max-width: 1530px)",
    "pc": "screen and (min-width: 1281px)",
    "bg-pc": "screen and (min-width: 2200px)",
);

$mainFontColor: #323232;
$mainBackColor: #E4D8CC;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}